name: CLI builds

on: push

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - triple: 'aarch64-linux-android'
            target: 'linux'

    name: Build CLI for ${{ matrix.triple }}

    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Update APT repos
        run: sudo apt-get update

      - name: Set-up D compiler
        uses: ./.github/actions/setup-d-compiler
        with:
          target-triple: ${{ matrix.triple }}

      - name: Write version file
        uses: ./.github/actions/write-version-file

      - name: Build
        run:  DFLAGS="-gcc=$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android29-clang -linker=lld" dub build -b release-debug --compiler=ldc2 --arch ${{ matrix.triple }} :cli-frontend

      - name: Move files around for artifcation
        uses: ./.github/actions/rename-files
        with:
          build-tag: cli-${{ matrix.triple }}

      - uses: actions/upload-artifact@v4
        with:
          name: sideloader-cli-${{ matrix.triple }}
          path: |
            ${{github.workspace}}/bin/*
